@section namespaceTree
{
    <h2>Namespaces</h2>
    <div class="tree">
        <ul>
            @foreach(IDocument symbolDocument in Documents.FromPipeline("Code")
                                                        .Where(x => x.String("Kind") == "Namespace" && x.String("QualifiedName") != string.Empty)
                                                        .OrderBy(x => x.String("QualifiedName")))
            {       
                var memberCount = symbolDocument.List<IDocument>("MemberTypes").Count();
                if (memberCount == 0)
                { 
                    continue;
                }
                
                <li>
                    <a>@symbolDocument.String("QualifiedName") (@memberCount)</a>
                        <ul style="display:none">
                            @foreach(IDocument memberDocument in symbolDocument.List<IDocument>("MemberTypes")
                                                                            .OrderBy(x => x.String("QualifiedName")))
                            {
                                <li><a>@memberDocument.String("FullName")</a></li>                            
                            }                  
                        </ul>
                </li>
            }
        </ul>
    </div>

    <script>
        $( document ).ready( function( ) {
            $( '.tree li' ).each( function() {
                if( $( this ).children( 'ul' ).length > 0 ) {
                    $( this ).addClass( 'parent' );     
                }
            });
        
            $( '.tree li.parent > a' ).click( function( ) {
                $( this ).parent().toggleClass( 'active' );
                $( this ).parent().children( 'ul' ).slideToggle( 'fast' );
            });
        
            $( '#all' ).click( function() {    
                $( '.tree li' ).each( function() {
                    $( this ).toggleClass( 'active' );
                    $( this ).children( 'ul' ).slideToggle( 'fast' );
                });
            });
        });
    </script>    
}